*  {
    margin: 0;
    padding: 0;
    border: 0;    
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    /* Created with https://www.css-gradient.com */
    background: #AF68EA;
    background: -webkit-linear-gradient(top, #AF68EA, #6565E7);
    background: -moz-linear-gradient(top, #AF68EA, #6565E7);
    background: linear-gradient(to bottom, #AF68EA, #6565E7);

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

p,
summary{
    color: hsl(240, 6%, 50%);
}

main{
    background-color: white;
    height: 535px;
    width: 325px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    box-shadow: 0px 20px 25px rgb(88,64,184);
}

.image{
    width: 230px;
    height: 200px;

    .img{
        background-image: url("../images/illustration-woman-online-mobile.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        
        width: 230px;
        height: 180px;

        position: relative;
        top: -106px;
        z-index: 2;

        img.boxForDesktop{
            display: none;
        }
    }

    .shadow {
        background-image: url(../images/bg-pattern-mobile.svg);
        position: relative;
        background-position: center;
        top: -188px;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 0;
        width: 100%;
        height: 99px;

        
    }

}

.content{
    padding: 0px 30px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -70px;

    h1{
        margin-bottom: 30px;
        font-weight: 700;
    }
}

.summarys{
    width: 100%;
    cursor: pointer;

    font-weight: 400;

    .details{
        details{

            summary{
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:hover{
                    color: rgb(245,122,88);
                }
            }

            &[open] > summary{
                color: black;
                font-weight: 700;
            }

            &[open] > summary > img{
                transform: rotate(180deg);
            }

            p{
                margin-top: 20px;
            }
        }

        .line{
            width: 100%;
            height: 1px;
            background-color: hsl(240, 5%, 91%);

            margin: 20px 0px;
        }
    }
}



@media(max-width: 350px){
    main{
        height: auto;
        width: auto;
    }

    .image .img {
        top: -58px;
    }

    .image .shadow {
        top: -153px;
    }
}


@media (min-width: 1000px) {

    body::before {
        content: url(../images/illustration-box-desktop.svg);
        width: 30px;
        height: 30px;
        position: relative;
        top: -30px;
        right: 73px;
        z-index: 99;
    }

    main{
        width: 920px;
        height: 505px;

        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: auto;
        overflow-y: hidden;
    }

    .image{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap-reverse;
    
        .img{
            width: 100%;
            height: 360px;
            background-image: url(../images/illustration-woman-online-desktop.svg);
            background-position: center;
            background-size: contain;
            margin-left: -154px;
            margin-bottom: -27px;

            img.boxForDesktop{
                display: block;
                position: relative;
                top: 136px;
            }
        }
    
        .shadow {
            background-image: url(../images/bg-pattern-desktop.svg);
            background-position: right;
            background-position-y: center;
            background-size: 47vw;
            background-repeat: no-repeat;
            position: relative;
            height: 100%;
            width: 460px;
            position: relative;
            top: 332px;
            left: -76px;
        }
    }

    .content {
        width: 50%;
        margin-top: 0px;
        align-items: flex-start;

        padding: 0px 95px 0px 80px;
    }
}
